#No emacs temp files
*~

#No txtoutput texts in 'Compare_Chaston_DB'
Compare_new_DB_with_Chastons/txtoutput/*.txt
Compare_new_DB_with_Chastons/txtoutput/*.sav

#plots dir is too big
plots/*

#No testcode pngs
testcode/laTEST/*.png

#No testcode postscripts
testcode/laTEST/*.ps
