#No emacs temp files
*~

#plots dir and other graphic/data dirs are too big (and secret!)
#If you want to back these up, use your rsync stuff
plots/
plot_indices_saves/
processed/
saves_output_etc/
temp/
txtOutput/

#No testcode pngs
testcode/laTEST/*.png

#No testcode postscripts
testcode/laTEST/*.ps

TAUEST/tauest_readme.txt

#None 'dat file
*.dat

#No CDF files
*.cdf

#No gifs
*.gif

#No dat_and_plots dirs
*dat_and_plots*
testcode/laTEST/goodplots
